# Python / Virtualenv
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
.pytest_cache/

# Environment variables & secrets
.env

# Node / Frontend dependencies & builds
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Databases
*.db
*.sqlite3

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
